<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semauleo.globalparkmeters">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.expocodetech.android.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.expocodetech.android.maps.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registro" />
        <activity android:name=".Principal" />
        <activity android:name=".Perfil" />
        <activity android:name=".Editar" />
        <activity android:name=".EditarPassword" />
        <activity android:name=".Matriculas" />
        <activity android:name=".Pagos" />
        <activity android:name=".DatosPagoActivity" />
        <activity android:name=".Geolocalizacion" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDaYkdX5vPgimV5g3sYxgS1GQRGxz7R5Nc" />

        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

        <activity android:name=".Tarifas" />
        <activity android:name=".MenuGeo" />
        <activity android:name=".GeoZonas"></activity>
    </application>

</manifest>